.HomeContainer {
  width: 100%;
  height: calc(100% - 4rem);
  background-color: pink;

  text-align: center;
}

.HomeSloganHeader {
  font-size: 2rem;
  color: black;
  text-shadow:
    0.04em 0 darkgray,
    0 0.04em darkgray,
    -0.04em 0 darkgray,
    0 -0.04em darkgray;
}

.HomeSloganSub {
  font-size: 1rem;
}

.LoginButton {
  margin-left: auto;
  margin-right: auto;

  width: fit-content;
  display: flex;
  padding: 1.2em 1rem;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 30px;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(
      15deg,
      #880088,
      #aa2068,
      #cc3f47,
      #de6f3d,
      #f09f33,
      #de6f3d,
      #cc3f47,
      #aa2068,
      #880088
    )
    no-repeat;
  background-size: 300%;
  color: #fff;
  border: none;
  background-position: left center;
  box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.LoginButton:hover {
  background-size: 320%;
  background-position: right center;
}

.LoginButton:hover svg {
  fill: #fff;
}

.LoginButton svg {
  width: 23px;
  fill: #f09f33;
  transition: 0.3s ease;
}
