.NavBar {
  margin-left: 10%;
  justify-content: space-between;
  width: 80%;
  display: flex;
}

.NavBarMenu {
  display: inline;
  margin-top: 0.5rem;
  cursor: pointer;
}

.NavBarMenu:hover,
.NavBarMenu:active {
  opacity: 0.2137;
}
